.archive {
    text-align: center;
    padding: 2rem;
    height: 80vh; /* 전체 높이 설정 */
  }
  
  .archive-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .archive-post {
    margin: 1rem;
  }
  
  .archive-post img {
    width: 200px;
    height: auto;
  }
  
  .archive-post p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }